<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(theme) -%>">
  <span class='title'>
    <%= theme.name %>
  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.themes_theme_path(theme),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_themes_admin_theme_path(theme),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.themes_admin_theme_path(theme),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => theme.name),
        :method => :delete %>
  </span>
</li>
