<%= render :partial => "refinery/themes/admin/shared/theme_assets" %>
<%= render "refinery/themes/admin/shared/actions" %>

<section class="clearfix one_list" id="records">
    <h1>Current Theme Setting</h1>
    <% current_theme = Refinery::Themes::Theme.current_theme_config['theme'] %>
    <table cellpadding="1" cellspacing="1" style="width: 100%; ">
        <tbody>
        <tr>
            <td style="width: 70%">
                <%= link_to(image_tag("/themes/#{current_theme['key']}/image.png",
                                      {class: 'screenshot'}), "/themes/#{current_theme['key']}/image.png",
                            {class: 'fancybox', title: 'Preview Theme'}) %>
            </td>
            <td class="theme-info">
                <h1><%= current_theme['name'] %></h1>
                <span>by <%= current_theme['author'] %></span>

                <p><%= current_theme['description'] %></p>
            </td>
        </tr>
        </tbody>
    </table>
    <%= form_tag(themes_admin_themes_path, :method => :put) do |f| %>
        <div class='field'>
            <label for="zip_file">Link Color:</label>
            <%= text_field_tag 'zip_file', nil %>
        </div>
        <div class="form-actions">
            <div class="form-actions-right"><%= submit_tag "Save" %></div>
        </div>
    <% end %>
</section>



