<% content_for :body_content_title do %>
  <%= @theme.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @theme.name %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @theme.description %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="themes">
      <% @themes.each do |theme| %>
        <li>
          <%= link_to theme.name, refinery.themes_theme_path(theme) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
